<!-- NOTE: buttons are given attribute `type="button"` to prevent form submission upon click -->

<article class="comparison-wrapper">
  <form name="createForm">
    <header class="comparison-title">
      <input type="text"
        class="title-input"
        ng-model="comparisonName"
        ng-maxlength="100"
        placeholder="Enter title"
        required/>
      <a href="/api/auth/facebook">
        <button type="button" ng-show="!loggedIn" class="right auth-button">Log In</button>
      </a>
      <a href="/api/logout">
        <button type="button" ng-show="loggedIn" class="right auth-button">Log Out</button>
      </a>
    </header>

    <section class="spreadsheet-wrapper container">
      <div class="spinner overlay" ng-show="loading">
        Loading...
      </div>

      <table class="spreadsheet">
        <tbody>
          <tr>
            <td></td><!-- purposefully empty cell -->
            <td class="header-row" ng-repeat="subject in subjects">
              <input type="text"
                class="subject-input"
                ng-model="subject.name"
                ng-maxlength="40"
                placeholder="Enter subject"
                required/>
              <button class="remove-button" type="button" ng-click="removeSubject(subject)">
                X
              </button>
            </td>
            <td>
              <button class="add-button" type="button" ng-click="addSubject()">Add Subject</button>
            </td>
          </tr>
          <tr ng-repeat="criterion in criteria">
            <td class="criteria-col">
              <input type="text"
                class="criterion-input"
                ng-model="criterion.name"
                ng-maxlength="30"
                placeholder="Enter criterion"
                required/>
              <button class="remove-button" type="button" ng-click="removeCriterion(criterion)">
                X
              </button>
            </td>
            <td ng-repeat="subject in subjects">
              <input type="text"
                class="score-description-input"
                ng-model="scores['s'+subject.index+'c'+criterion.index].description"
                ng-maxlength="40"
                placeholder="Enter optional text"/>
            </td>
          </tr>
          <tr>
            <td>
              <button class="add-button" type="button" ng-click="addCriterion()">Add Criterion</button>
            </td>
          </tr>
        </tbody>
      </table>
    </section>

    <section class="form-section">
      <aside class="share-aside" ng-show="!loggedIn">
        You must log in to submit a new comparison. You can do it! I believe in you!
      </aside>
      <button class="submit-button" ng-click="submit()" ng-show="!submitted" ng-disabled="!loggedIn">
        Submit
      </button>
      <aside class="share-aside" ng-show="submitted">
        View/share your comparison with this link:
        <a href="{{ shareLink }}">{{ shareLink }}</a>
      </aside>
    </section>
  </form>

</article>
