// __________________________________________________________________
// Color vairables (palette reference: http://pltts.me/palettes/8922)
$color_dark_grey = #58606E
$color_light_grey = #C6CAD7
$color_dark_slate = #8D9DB4
$color_light_slate = #9CADC9
$color_dark_purple = #4A4A6C
$color_light_purple = #63638D
$color_light_magenta = #FFC0F2
