@import url("http://fonts.googleapis.com/css?family=Raleway:700,400");
.transition,
a,
button,
[class*='icon-'] {
  transition: 0.4s;
  -o-transition: 0.4s;
  -ms-transition: 0.4s;
  -moz-transition: 0.4s;
  -webkit-transition: 0.4s;
}
body {
  background: #ddd;
  font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
  font-weight: 200;
  margin: 0;
  padding: 0;
}
a {
  color: #4a4a6c;
  text-decoration: none;
}
a:hover {
  color: #8d9db4;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clear {
  clear: both;
}
nav {
  background-color: #4a4a6c;
  color: #fff;
  font-weight: 100;
  margin: 0;
  padding: 0.25em;
  font-size: 1.25em;
  height: 2em;
}
nav ul {
  list-style: none;
  padding: 0;
  margin: 3px 0 0 0;
  display: inline-block;
}
nav ul li {
  display: inline-block;
  margin: 0 1em;
  vertical-align: middle;
}
nav ul li a,
nav ul li a:hover {
  text-decoration: none;
}
nav ul li a {
  color: #fff;
}
img.tiny-logo {
  width: 30px;
  height: 30px;
}
.container {
  clear: both;
}
button {
  color: #fff;
  background-color: #4a4a6c;
  border-radius: 2px;
  border-width: 0;
  cursor: pointer;
  font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
button:hover {
  background-color: #63638d;
}
button.auth-button,
button.delete-button {
  width: 100px;
  height: 40px;
  font-size: 0.6em;
  border-radius: 3px;
}
table {
  border-collapse: collapse;
}
td {
  padding: 10px 10px;
}
footer.master-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 34px;
  background-color: #c6cad7;
}
div.spinner {
  margin: 20px;
}
div.hr-shoutout {
  margin: 9px;
  color: #777;
  font-size: 0.9em;
}
::-webkit-input-placeholder {
  color: #666;
  font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
:-moz-placeholder {
  color: #666;
  font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
::-moz-placeholder {
  color: #666;
  font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
:-ms-input-placeholder {
  color: #666;
  font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.home-wrapper {
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
  margin-bottom: 34px;
}
.greeting-wrapper {
  background-color: #c6cad7;
  margin: 0;
  padding: 0.5em 0.5em 1.5em 0.5em;
  background-image: linear-gradient(rgba(255,255,255,0.1) 2px, transparent 1px), linear-gradient(90deg, rgba(255,255,255,0.1) 2px, transparent 1px), linear-gradient(rgba(255,255,255,0.2) 1px, transparent 1px), linear-gradient(90deg, rgba(255,255,255,0.2) 1px, transparent 1px);
  background-size: 12px 100px, 200px 100px, 20px 20px, 40px 20px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}
.big-greeting {
  font-size: 3em;
  font-weight: 200;
  margin: 0.5em;
}
.sub-greeting {
  font-size: 1.2em;
  margin: 0 2em;
}
button.big-login-button,
button.big-logout-button {
  font-size: 1.4em;
  border-radius: 5px;
  margin: 20px;
  width: 150px;
  height: 80px;
}
.browse-list {
  margin: auto;
}
.browse-list tr {
  border-bottom: 1px solid #c6cad7;
}
.browse-list tr :last-child {
  border-bottom: none;
}
.title-col {
  text-align: left;
  font-weight: bold;
}
input[type='text'] {
  padding: 0.5em;
  background-color: #ddd;
  border: 0;
  border-radius: 2px;
}
input.ng-invalid.ng-dirty {
  background-color: #a70d00;
  color: #fff;
}
input.title-input {
  width: 40%;
}
input.subject-input,
input.criterion-input {
  width: 60%;
}
input.score-description-input {
  width: 95%;
}
.form-section {
  background-color: #c6cad7;
}
.remove-button,
.add-button {
  padding: 8px;
}
.submit-button {
  height: 40px;
  width: 80px;
  margin: 10px;
  font-size: 1em;
  font-weight: 100;
}
aside.share-section {
  padding: 1.3em;
}
.comparison-wrapper {
  vertical-align: top;
  margin-bottom: 34px;
  text-align: center;
}
.comparison-title {
  background-color: #c6cad7;
  color: #000;
  padding: 0.5em 1em;
  margin: 0 0 0.5em 0;
  font-weight: 200;
  font-size: 2em;
  letter-spacing: 0.05em;
  text-align: left;
}
.spreadsheet-wrapper {
  display: inline-block;
  margin: 0 3em;
}
.spreadsheet td {
  text-align: center;
  border-left: 2px solid #c6cad7;
}
.spreadsheet td:first-child {
  border-left: none;
}
button.delete-button {
  vertical-align: middle;
}
form.controls {
  margin: 1em 3em;
}
form.controls > section {
  margin: 0.3em 1.5em;
}
section.weight-toggle-controls {
  display: block;
}
section.sorting-controls {
  display: inline-block;
}
section.sorting-controls label {
  display: block;
  margin: 0.5em 0 0.2em 0;
}
div.radio-button-subgroup {
  display: inline-block;
  text-align: left;
}
.refresh-cell {
  text-align: center;
}
.header-row,
.criteria-col,
.refresh-cell {
  font-size: 1.5em;
  background-color: #9cadc9;
}
.total-scores {
  font-size: 2em;
  font-weight: bold;
}
.criterion,
.score,
.vote-button-wrapper {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}
.criterion,
.score {
  margin-right: 0.1em;
}
.vote-button-wrapper {
  width: 30px;
}
.score-description {
  margin: 0.25em;
}
.points {
  font-weight: bold;
  margin: 0;
}
.score .points {
  font-size: 1.7em;
}
.criterion .points {
  font-size: 1em;
}
[class*='icon-'] {
  display: block;
  margin: 4px 0;
  width: 20px;
  height: 20px;
  background-position: 4px 4px;
  background-repeat: no-repeat;
  padding: 4px 4px;
  cursor: pointer;
  background-color: #4a4a6c;
  border-radius: 2px;
}
[class*='icon-']:hover,
.clicked {
  background-color: #63638d;
}
.icon-thumbs-up {
  background-image: url("../images/thumbs-up.svg");
}
.icon-thumbs-down {
  background-image: url("../images/thumbs-down.svg");
}
.icon-refresh {
  background-image: url("../images/loop.svg");
  margin: auto auto;
}
